@{
    ViewBag.Title = "Contact";
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Tickr</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li class="active"><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Login")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
        <h1 class="text-primary">Contact</h1>
        <p class="lead">Use the information below to get in contact with me.</p>
        <address>
            8787 W. Alameda Dr. <br />
            Lakewood, CO 80219 <br />
        </address>

        <address>
            <strong>Support:</strong>  <a href="mailto:ryan.hurley1212@gmail.com">ryan.hurley1212@gmail.com</a>
        </address>
    </div>
</body>

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@